<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <!-- Service title -->
    <title>{% block title %}Личный кабинет{% endblock %}</title>
    <!-- Service favicon -->
    {% block favicon %}
        <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    {% endblock %}
    <!-- Service CSS -->
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap-4.5.0-dist/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('css/fm.revealator.jquery.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
</head>
<body>
<div class="container__hight">
    <header class="header">
        <nav class="navbar_padding navbar navbar-expand-lg">
            <a class="navbar-brand" href="{{ path('app_home') }}">
                <img src="{{ asset('images/rosatom.png') }}" class="image_rosatom" alt="rosatom">
                <span>Личный кабинет сотрудника</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav justify-content-end col-6 col-xl-5" role="navigation">
                    <li class="nav-item dropdown dropdown_item">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="true" aria-expanded="false">Должности</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Редактор</a>
                            <a class="dropdown-item" href="#">Менеджер</a>
                        </div>
                    </li>
                    <li class="lang_bg nav-item col-1 p-0 d-flex align-items-center justify-content-center">
                        <a href="#" class="d-flex justify-content-center align-itmes-center">
                            <p class="font_default">RU</p>
                            <img class="lang_trinagle" src="{{ asset('images/caret-down-solid.svg') }}" width="15" height="15" alt="">
                        </a>
                    </li>
                    <li class="nav-item col-1 p-0 d-flex justify-content-center align-items-center">
                        <a href="#">
                            <img src="{{ asset('images/search-solid.svg') }}" width="20" height="20" alt="">
                        </a>
                    </li>
                    <li class="nav-item dropdown dropdown_item">
                        {% if app.user is same as(null) %}
                            <a class="nav-link" href="{{ path('app_login') }}" role="button">Войти</a>
                        {% else %}
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.name }}</a>
                            <div class="dropdown-menu">
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="dropdown-item" href="{{ path('admin') }}">Панель управления</a>
                                {% endif %}
                                <a class="dropdown-item" href="{{ path('app_logout') }}">Выход</a>
                            </div>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- Main -->
    {% block content %}
        <div class="container_fix">
            <div class="main d-flex flex-column justify-content-center align-items-center">
                <p class="main__pretitle mt-4 mb-4 col-lg-7 col-11">
                    Добро пожаловать в личный кабинет документации! Выберите нужную документацию и ознакомьтесь с ней с помощью удобного веб-формата!
                </p>
                <div class="main__title d-flex flex-column align-items-center revealator-slideup revealator-delay2 revealator-once">
                    <h2 class="main__position">Онлайн документация</h2>
                </div>
                <div class="main__content">
                    {% if is_granted("ROLE_USER") %}
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <ul class="main__ul d-flex flex-column align-items-center">
                                        {% for position in positions %}
                                            <li class="mt-3 col-12 d-flex flex-column align-items-center">
                                                <div class="col-12 li__base li__active li__block d-flex justify-content-between align-items-center p-2 revealator-slideleft revealator-once revealator-below">
                                                    <p class="li__title">
                                                        <a href="{{ path('paragraph_show', {'id': position.id}) }}">
                                                            {{ loop.index }}. {{ position.name }}</a>
                                                    </p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}
</div>
<!-- Footer -->
<footer class="footer d-flex justify-content-around align-items-center">
    <div class="col-11 d-flex justify-content-around align-items-center">
        <p>© 2008–2020. Все права защищены. <a href="https://rosatom.ru/about/contact-info/" class="footer__link">Государственная корпорация по атомной энергии «Росатом»</a></p>
        <p><a href="mailto:0707@rosatom.ru" class="footer__link">Сообщить о коррупции:</a> 800-100-0707</p>
    </div>
</footer>
</body>
<!-- Service JS -->
{% block js %}
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{{ asset('js/fm.revealator.jquery.min.js') }}"></script>
    <script src="{{ asset('js/animation-block.js') }}"></script>
{% endblock %}
</html>