<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">
    <title>{% block title %}Отзовик48{% endblock %}</title>
    {% block stylesheets %}
        <!-- Fonts -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('fonts/Mazzard_M_Light/MazzardSoftM-Light.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/materialert.css') }}" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{{ asset('css/main.css') }}"/>
    {% endblock %}
</head>
<body>
<!-- Main fixed menu -->
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper teal lighten-1" role="navigation">
            <div class="container">
                <!-- Site logo -->
                <a href="{{ path('app_home') }}" class="brand-logo"><span class="logo-text">Отзовик48</span></a>
                <!-- Site menu -->
                <ul class="right hide-on-med-and-down">
                    {% if app.user is same as(null) %}
                        <li><a class="nav-text" href="{{ path('app_login') }}">Вход</a></li>
                    {% endif %}
                    {% if app.user %}
                        <li><span class="nav-text">Добро пожаловать, </span></li>
                        <li><a class="dropdown-trigger nav-text" href="#" data-target="navbar_dropdown">{{ app.user.name }}</a></li>
                        <ul id="navbar_dropdown" class="dropdown-content">
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a class="nav-text" href="/admin">Админ-панель</a></li>
                            {% endif %}
                            <li><a class="nav-text" href="{{ path('app_logout') }}">Выход</a></li>
                        </ul>
                    {% endif %}
                </ul>
                <!-- Mobile hamburger menu icon -->
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </div>
    </nav>
</div>
<!-- Mobile hamburger menu -->
<ul id="nav-mobile" class="sidenav">
    <li><a href="{{ path('app_home') }}">Главная</a></li>
    {% if app.user is same as(null) %}
        <li><a href="{{ path('app_login') }}">Вход</a></li>
    {% endif %}
    {% if app.user %}
        {% if is_granted('ROLE_ADMIN') %}
            <li><a href="/admin">Админ-панель</a></li>
        {% endif %}
        <li><a href="{{ path('app_logout') }}">Выход</a></li>
    {% endif %}
</ul>
<!-- Site content -->
<main>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<!-- Site footer -->
<footer class="page-footer teal darken-2">
    <div class="container">
        <div class="footer-copyright teal darken-2">
            <!-- Site copyright -->
            <div class="row">
                <div class="col s12 center-align">
                    <span class="copyright-text">© 2020 Design by <a class="footer-link" href="https://vk.com/id152191562">Alex Parkhomov</a></span>
                </div>
            </div>
        </div>
    </div>
</footer>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>